.div {
    gap: 20px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .div {
        flex-direction: row;
    }
}


@media screen and (min-width: 1600px) {
    .div {
        gap: 90px;
    }
}

.compareDiv {
    max-width: 800px;
    width: 100%;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    .compareDiv {
        align-self: flex-start;
    }
}