.flag {
    border-radius: 10px;
    border: 2px solid var(--border-flag);
    max-width: 250px;
}

.title {
    font-size: 3rem;
    margin-top: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-weight: 400;
}

.caption {
    font-size: 0.9rem;
}

.text {
    font-size: 1.2rem;
}

.countryInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.asideBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.backButton {
    position: absolute;
    top: 10px;
    left: -35px;
}

@media screen and (min-width: 545px) {
    .countryInfo {
        flex-direction: row;
        align-items: center;
    }

    .asideBlock {
        width: 50%;
    }

    .backButton {
        left: 35px;
        top: 35px;
    }
}

.link {
    text-decoration: none;
    font-size: 1.1rem;
}

.link:hover {
    opacity: 0.6;
}

.link:active {
    opacity: 0.3;
}

.button {
    border-radius: 10px;
    border: 2px solid var(--border-main);
    background-color: var(--buttons-bg);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

.button:active {
    opacity: 0.3;
}