.button {
    opacity: 0.8;
    width: 40px;
    height: 40px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.button:hover {
    background: var(--btn-hover);
}

.button:active {
    opacity: .1;
}

.img {
    fill: var(--back-btn);
}