:root {
    --logo: #000;
    --back-btn: #000;
    --btn-hover: rgb(230, 230, 230);
    --main-bg: rgb(245, 245, 245);
    --header-bg: rgba(255, 255, 255, 0.7);
    --text: #333333;
    --country-item-bg: #ffffff;
    --country-card-bg: rgba(255, 255, 255, 0.7);
    --buttons-bg: rgba(255, 255, 255, 0.7);
    --border-main: #e4e4e4;
    --border-flag: #000;
    --border-input: #333333;
    --info-block: transparent;
    --loader-bg: #fff;
    --loader-arrow: #000;
    --scroller: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --logo: rgb(214, 214, 214);
    --back-btn: rgb(214, 214, 214);
    --btn-hover: rgb(0, 0, 0, 0.2);
    --main-bg: rgb(27, 27, 30);
    --header-bg: rgba(32, 33, 36);
    --text: rgb(214, 214, 214);
    --country-item-bg: rgba(32, 33, 36);
    --country-card-bg: rgba(32, 33, 36);
    --buttons-bg: rgb(30, 30, 33);
    --border-main: transparent;
    --border-flag: transparent;
    --border-input: rgba(228, 228, 228, .7);
    --info-block: rgb(30, 30, 33);
    --loader-bg: rgba(32, 33, 36);
    --loader-arrow: #fff;
    --scroller: rgb(228, 228, 228, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--text);
}

body,
button,
a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button,
a {
    color: var(--text)
}

.flex {
    display: flex;
}

.gap {
    gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.custom-scrollbar  {
    scrollbar-color: auto;
    scrollbar-width: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scroller);
    height: 10%;
    border-radius: 2px;
    cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scroller);
}