* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

body,
button,
a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.flex {
    display: flex;
}

.gap {
    gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.custom-scrollbar  {
    scrollbar-color: auto;
    scrollbar-width: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    height: 10%;
    border-radius: 2px;
    cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}