.header {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-main);
    background: var(--header-bg);
}

.logo {
    fill: var(--logo);
    max-width: 150px;
}

@media screen and (min-width: 545px) {
    .header {
        padding: 10px 90px;
    }

    .logo {
        max-width: 230px;
    }
}